@import url(http://fonts.googleapis.com/css?family=Asset);

* {
  list-style-type: none;
  text-decoration-style: none;
}
/*#content-wrapper {
  position: relative;
}*/
header {
  background: -webkit-linear-gradient(0deg, #888 5%, #aaa 8%, white 12%); 
  background: -moz-linear-gradient(0deg, #888 5%, #aaa 8%, white 12%); 
  background: linear-gradient(0deg, #888 5%, #aaa 8%, white 12%);
}
.accent-color {
  color: #CC0000;
}
.sub-heading {
  display: none;
}
.nashviva {
  font-family: 'Oleo Script', cursive;
  margin: 0px;
  font-size: 2.5em;
  color: grey;
  text-align: center;
  padding: 10px;
}

#map {
  margin: 0px;
  height: 90%;
  width: 100%;
  position: absolute;
}

nav {
  position: relative;
  z-index: 9999;
  /*background-color: rgba(241, 240, 235, 1);*/
  box-shadow: 0 0.2em 5px rgba(0,0,0,0.4);
}

.accordion-wrapper {
  position:absolute;
  bottom:65px;
  padding:0;
  margin:0;
  z-index: 9997;
  width: 100%;
  background-color: rgba(255, 255, 255, .8);
  border-top: 8px solid #002D65;
  max-height: 70%;
  overflow-y: scroll;
  display: none;
  outline: 3px solid #CC0000;
}

.accordion-list {
  margin-bottom: 85px;
}

svg {
  width: 35px;
  display: inline-block;
  margin: 10px 10px 0 35px;
  fill: grey;
}

#footer {
    bottom: 0;
    width: 100%;
    height: 65px;
    position: fixed;
    z-index: 9998;
    border-top: 2px solid #002D65;
    background: -webkit-linear-gradient(0deg, #888 3%, #aaa 5%, white 8%); 
    background: -moz-linear-gradient(0deg, #888 3%, #aaa 5%, white 8%); 
    background: linear-gradient(0deg, #888 3%, #aaa 5%, white 8%);
}
.icon-list {
  overflow: hidden;
}

.icon:hover {
  cursor: pointer;
}
svg:active {
  fill: #002D65;;
}

.icon-list-arrow-btn {
  display: inline-block;
  position: absolute;
  right: 0;
}

.slide-down-btn {
  width: 25px;
  height: 25px;
  transform: rotateZ(90deg);
}

.arrow-btn {
  width: 25px;
  height: 25px;
  padding: 0px;
}

.label-name {
  font-size:1.6em;

}

@media only screen and (min-width : 768px) {
  #footer {
    width: 300px;
    border-right:2px solid #002D65;
    border-bottom:2px solid #002D65;
    border-top: none;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: block;
  }

  .nashviva {
    text-align: left;
    display: inline-block;
    margin-left: 100px;
  }

  .sub-heading {

    display: inline-block;
    font-size: 1.2em;
  }

  .accordion-wrapper {
    position:absolute;
    left:165px;
    padding:0;
    margin:0;
    z-index: 9997;
    width: 100%;
    background-color: rgba(221, 220, 215, 1);
    border-top: 8px solid #002D65;
    max-height: 70%;
    overflow-y: scroll;
    display: none;
    outline: 3px solid #CC0000;
  }

  #map {
    height: 100%;
  }

  .accordion-list {
    margin-bottom: 85px;
  }

  .icon-list-arrow-btn {
    display: none;
  }
}


















